body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0;
  background-color: #fdc657;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 5px;
  background-color: rgba(253, 198, 87, 0.3);
}

img {
  vertical-align: middle;
}

.header {
  height: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  animation: header 2s forwards;
  margin: 20px 30px 0;
}

.header-nav {
  display: flex;
  flex-direction: row;
}

.header-items {
  padding-left: 80px;
  height: 21px;
}

.header-items span {
  color: #222222;
  font-weight: bold;
  transition: 0.5s;
}

.logo {
  width: 200px;
  height: 21px;
}

.bi {
  color: #222222;
  transition: 0.5s;
}

.bi:hover,
.header-items span:hover,
.count:hover {
  color: #ffc107;
  cursor: pointer;
  transition: 0.5s;
}

.bi-cart-fill {
  margin-left: 41px;
  position: relative;
}

.count {
  background-color: #222222;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: 10px;
  right: 5px;
  line-height: 14px;
  height: 15px;
  width: 15px;
  transition: 0.5s;
}

.content {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.slider {
  background-image: url(photo/pic1.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  height: 939px;
  animation: show 3s forwards;
}

.slider-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.slider-description h1 {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  color: rgb(31, 31, 31);
  letter-spacing: 24px;
  margin: 0px;
  padding: 0px 30px;
}

.slider-description p {
  min-width: 700px;
  max-width: 700px;
  white-space: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(31, 31, 31);
  margin: 0px;
  padding: 0px 30px;
  text-align: center;
}

.slider-description button {
  color: rgb(0, 0, 0);
  border: solid 3px rgb(0, 0, 0);
  line-height: 14px;
  margin: 0px;
  padding: 21px 30px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.slider-description button:hover {
  color: #fff;
  background-color: #000;
}

.features {
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 120px auto 0;
}

.features-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.features-row h2 {
  font-size: 26px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.features-row p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
}

.features-row p::after {
  background-color: #fdc657;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 70px;
}

.features-flex-row {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.features-text {
  width: 41.66666667%;
}

.features-text h2 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 19px;
  font-weight: 700;
  color: #222222;
}

.features-text p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  padding-right: 40px;
}

.features-btn {
  background-color: #222222;
  color: #fff;
  border: 3px solid #222222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.4s;
  padding: 20px 30px;
  margin-top: 20px;
  cursor: pointer;
}

.features-btn:hover {
  background-color: #ffc107;
  border-color: #ffc107;
}

.features-images {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.features-images-col {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.features-2 {
  background-image: url(./photo/pic7.webp);
  margin-top: 120px;
  background-size: cover;
  background-position: center;
}

.features-2-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  width: fit-content;
  padding: 60px 0 70px 0;
}

.grid-item {
  width: 402px;
  margin-top: 50px;
  display: flex;
}

.item-number {
  color: #222222;
  margin-right: 15px;
  border: 3px solid #222222;
  border-radius: 50%;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 45px;
  height: 42px;
  width: 42px;
  flex-basis: 45px;
}
.item-flex-container {
  flex-basis: calc(100% - 50px);
}

.item-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}

.item-description {
  color: #666666;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

.item-link {
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 23px;
  cursor: pointer;
  transition: 0.4s;
}

.item-link:hover {
  color: #ffc107;
}

.demo-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  margin-top: 120px;
  gap: 30px;
}
.demo-container h2 {
  font-size: 40px;
  margin-bottom: 36px;
  font-weight: 700;
  color: #222222;
  line-height: 1.3;
}
.demo-container h2 span {
  color: #ffc107;
}
.demo-container p {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #666666;
}
.demo-column {
  width: 58.33333333%;
}
.demo-row-img {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.image {
  height: 570px;
  background-image: url(./photo/pic6.webp);
  margin-top: 120px;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.image::before {
  background-color: rgba(34, 34, 34, 0.2);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.image-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.image-container h2 {
  color: #fff;
  font-size: 50px;
  line-height: 1.6;
  width: 41.66666667%;
  text-align: center;
}

.blog-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.blog-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 100px;
}
.blog-card {
  width: 33.33333333%;
  flex: 0 0 auto;
  padding: 0 10px;
}
.blog-card img {
  width: 356px;
}
.blog-card-text {
  margin-top: 45px;
}
.blog-card-text h3 {
  margin: 0;
}
.blog-card-meta {
  margin: 20px 0;
}
.blog-card-meta i {
  color: #ffc107;
  margin-right: 5px;
}
.blog-card-meta a:first-child {
  margin-right: 10px;
}
.blog-card-text p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #666666;
}
.blog-card-link {
  margin-top: 27px;
  color: #222222;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}
.blog-card-link:hover {
  color: #ffc107;
}

.image-2 {
  height: 648px;
  background-image: url(./photo/pic14.webp);
  margin-top: 120px;
  background-size: 200%;
  background-position: center;
}
.image-2-container {
  width: 831px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.image-2-container img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.image-2-quote {
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 34px;
}
.image-2-quote sup {
  font-size: 60px;
  line-height: 1;
  top: 25px;
  left: -10px;
}
.image-2-quote::after {
  background-color: #fdc657;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 80px;
}
.image-2-autor {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}
.image-2-autor span:nth-child(2) {
  font-weight: 400;
  color: #cccccc;
  font-size: 15px;
  margin-left: 20px;
  text-transform: capitalize;
}
.nav-footer {
  background-color: #222222;
  color: #aaaaaa;
  padding: 120px 0;
}
.nav-footer-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.nav-footer-column h3 {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 33px;
}
.nav-footer-column h3::after {
  background-color: #fdc657;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s;
  height: 3px;
  width: 35px;
}
.nav-footer-column p {
  font-size: 15px;
  font-weight: 400;
}
.nav-footer-column a {
  font-size: 15px;
  font-weight: 400;
  color: #aaaaaa;;
  text-decoration: none;
}
.nav-footer-column ul {
  list-style: none;
  padding: 0;
}
.nav-footer-column li {
  margin-bottom: 15px;
}
.nav-footer-column i{
  color: #ffc107;
  margin-right: 10px;
}
.nav-footer-with-line{
  position: relative;
  padding-bottom: 30px;
}
.nav-footer-with-line::after {
  background-color: #333333;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 35px;
}

.partners {
  height: 212px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 146px;
  justify-content: center;
  align-items: center;
  width: 1140px;
  margin: 0 auto 0;
}

footer {
  background-color: #333333;
  padding: 40px 0;
}

.footer {
  border: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #aaaaaa;
}

.icons i {
  margin-left: 30px;
  font-size: 20px;
  color: #aaaaaa;
  cursor: pointer;
}

.icons i:hover {
  color: #fdc657;
}

::selection {
  background: #fdc657;
  color: #fff;
}

@keyframes header {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bigger {
  from {
    background-size: 100%;
  }
  to {
    background-size: 105%;
  }
}

@keyframes smaller {
  from {
    background-size: 105%;
  }
  to {
    background-size: 100%;
  }
}
